body {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: $gray-dark;
    min-width: 320px;
    width: 100%;
    background-color: $gray-lighter;
}