// Black and White.
$white:                 #ffffff;
$black:                 #000000;

//Gray color spectrum-
$gray-dark:             #343434;
$gray:                  #666666;
$gray-light:            #E5E5E5;
$gray-lighter:          #f8f8f8;

// Z-index
$zi1: 100;
$zi2: 200;
$zi3: 300;
$zi4: 400;
$zi5: 500;
$zi6: 600;
$zi7: 700;
$zi8: 800;
$zi9: 900;
$zi10: 1000;